# Info: requirements.txt is a file that contains all the required libraries for the project.
# Info: You can install all the required libraries by running the following command:
# Info: pip install -r requirements.txt
# Example: of the requirements.txt file:
# numpy==1.19.5